@import '../../assets/scss/variables';
@import '../../assets/scss/mixins';

.layout {
	@include breakpoint-md {
		display: flex;
	}
	.mode {
	border-radius: 50%;
    width: 32px;
    height: 32px;
    background: linear-gradient(40deg, #FF0080,#FF8C00 70%);
    margin: auto;
	}
	.theme__toggler {
		position: fixed;
		right: 20px;
		top: 20px;
		z-index: 1;

		/* Button resets & styles */
		button {
			display: block;
			border: none;
			color: inherit;
			padding: 0;
			margin: 0;
			cursor: pointer;
		}

		button:focus, button:active {
			outline: none;
			}

		button:active {
			transform: scale(1);
		}
		/* Toggle button styles */
		.toggle {
			background-color: var(--text);
			min-width: 50px;
			min-height: 25px;
			margin-bottom: 1rem;
			position: relative;
			border: 2px solid;
			border-radius: 30px;
			cursor: pointer;
			transition: background-color ease-out 250ms;
		}

		.toggle::after {
			content: "";
			position: absolute;
			background-color: var(--background);
			top: 0;
			left: 0;
			width: 50%;
			height: 100%;
			border-radius: 30px;
			transition: transform ease-out 250ms;
		}
	}
}


/* Active (dark mode) class for animating transition on toggle button*/
.clicked::after {
	transform: translateX(100%);
}
