@import '../../../assets/scss/variables';
@import '../../../assets/scss/mixins';

.game__container {
  * {
    margin: 0;
    padding: 0;
  }
  background: #333;
  padding: 16px;
  min-height: 100vh;
  overflow: scroll;
  h1 {
    color: #fff;
    font-size: 28px;
    font-weight: 400;
    margin: 1.25rem 8px 0;
  }
  .cover {
    padding: 8px;
    min-height: 150px;
    background: #222;
    color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px 0 #222;
    h2 {
      font-size: 24px;
      font-weight: 300;
      padding-bottom: 20px;
      color: #fff;
    }
    p {
      font-size: 16px;
      font-weight: 300;
      margin: 0 0 16px;
      color: #fff;
    }
  }
  .game__description {
    margin-top: 16px !important;
    background: #222;
    padding: 8px;
    border-radius: 8px;
    box-shadow: 0 2px 4px 0 #222;

    #info {
      color: #fff;
      font-size: 14px;
      text-align: center;
      margin: 16px;
    }

    button {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      padding: 12px;
      min-width: fit-content;
      width: 100%;
      background: #276600;
      color: #fff;
      font-size: 16px;
      font-weight: 400;
      border-color: transparent;
      cursor: pointer;
      border-radius: 4px;
      border-style: solid;
    }
  }

  .game__body {
    .column {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
    }
  }

  .parent {
    border-spacing: 5px;
    padding: 0.5em 0;
  }
  
  .parent.perspective {
    perspective: 50em;
  }
  
  .child {
    margin: 0.5em;
    max-width: 2rem;
    min-width: 2rem;
    height: 2rem;
    padding: 0.5em;
    display: table-cell;
    border: 1px solid #fff;
  }
  
  .parent.perspective .child {
    transition: all 0.3s ease-in;
  }
}

.home__button {
  display: block;
  max-width: 90px;
  height: $button-height;
  padding: 0 24px;
  line-height: $button-height;
  text-align: center;
  color: #fff;
  border: 1px solid $color-gray-border;
  border-radius: $button-border-radius;
  font-size: $typographic-base-font-size;
  font-weight: normal;
  margin-bottom: 16px;

  &:hover,
  &:focus {
    color: $color-primary;
  }
}

.mobile {
  @include breakpoint-md {
    margin: 0 300px !important;
  }
}