body {
      font: 20px Montserrat, sans-serif;
      line-height: 1.8;
      color: #f5f6f7;
}
p {font-size: 16px;}
.margin {margin-bottom: 45px;}
.bg-1 { 
    color: #8e8484;
}
.bg-2 { 
    color: #8e8484;
}
.bg-3 { 
    color: #8e8484;
}
.bg-4 { 
    color: lightgray;
}
.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}
.navbar {
    background-color: grey;
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
}
.navbar a:hover {
    margin: 0px;
    color: skyblue !important;
    text-decoration: none;
}
.navbar-nav  li a:hover {
    color: skyblue !important;
}
.navbar-default .navbar-nav>li>a{
    color: #fff;
}
.progress {
    width: 500px;
}
.techstack li {
    list-style: none;
}
.panel-heading {
    margin-left: -15px;
    margin-right: -15px;
}
.social a {
    margin-right: 20px;
    font-size: 28px;
    text-decoration: none;
}
.pet:hover {
    background-color: lightgrey;
}
.pet img {
    width: 100px;
}