body {
  font: 20px;
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.8;
  color: #f5f6f7;
}
.margin {
    margin-top: 30px;
    margin-bottom: 45px;
    font-weight: 700;
}
.margin::after {
    margin-top: 5px;
    content: '';
    display: block;
    border: 1px solid red;
    position: relative;
    left: 49%;
    height: 2px;
    width: 1.9em;
}
.bg-1 {
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
    background-image: url('img/bg.jpg');
    height: 648px;
    color: #fff;
}
.nav-links-container {
    font-size: 0.85em;
    font-weight: 500;
    letter-spacing: 1px;
    display: block;
    margin-right: 2.35765%;    
}
.nav-links {
    list-style: none;
    float: right;
}
.nav-links li {
    float: left;
    margin: 0 10px;
}
.nav-links a {
    font-size: 14px;
    border-bottom: 1.5px solid transparent;
    color: #fff;
    display: block;
    padding: 10px 0;
    text-decoration: none;
    text-transform: lowercase;
    transition: all 0.3s ease-in;
}
.nav-links a:hover { border-bottom: 1px solid red; }
.social a {
    margin-right: 20px;
    font-size: 28px;
    text-decoration: none;
    border-radius: 50%;
}
.social a { transition: all .2s ease-in-out; }
.social a:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
footer { margin-top: 80px; }
footer span { color: #8e8484; }
.copyrights {
    margin-top: 30px;
    color: #8e8484;
    padding-right: 15px;
}
.copyrights i { color: red; }
.heart { animation: pulse 1s ease infinite; }
@keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.3); }
    100% { transform: scale(1); }
}
